.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Navbar {
  background-color: rgb(169, 218, 227);
  width: 100%;
}
.link1 {
  text-decoration: none;
}

.footer {
  width: 100%;
  margin-top: 10px;
}
.content {
  min-height: 341px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.carousel {
  height: 300px;
  width: 100%;
}

/* .scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 2rem;
  display: none;
  z-index: 1000;
} */
/* Home.css */

/* Fade in animation */
.fadeIn {
  animation: fadeInAnimation 2s ease-in-out;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Product card styles */
.product-card {
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

/* Home.css */

/* Carousel animations */
.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-item {
  transition: opacity 1s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active.carousel-item-right,
.carousel-item.active.carousel-item-left {
  opacity: 0;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-prev:not(.carousel-item-right) {
  animation: none;
}

.carousel-item-next,
.active.carousel-item-prev {
  transform: translateX(100%);
}

.carousel-item-prev,
.active.carousel-item-next {
  transform: translateX(-100%);
}
.register {
  background-color: #000000eb;
}
.profile {
  text-decoration: none;
}

.userprofile {
  background-color: aquamarine;
}
.userCard {
  color: white;
  background-color: black;
}

/* Dashboard.css */

/* Main container */
.dashboard-container {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  min-height: 500px;
  margin-top: 70px;
  margin-bottom: 10px;
  margin-left: 20px;
  /* Adjust the height as needed */
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  height: 500px;
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 10px;
}
.sidebar h1 {
  
  margin-bottom: 20px;
}


.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
/* Styling for the divider */


.sidebar ul li:hover {
  background-color: #555;
}

/* Main content styles */
.main-content {
  flex: 1;
  padding: 20px;
}

/* Card styles */
.card1 {
  width: 18rem;
  max-height: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0.5, 0.5);
  padding: 20px;
}

.card1 h2 {
  margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}


/* ProductAddPage.css */

/* Style for the whole product add page */
.product-add-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Style for form elements */
.product-add-page form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-add-page form label {
  font-weight: bold;
}

.product-add-page form input,
.product-add-page form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.product-add-page form input[type='file'] {
  margin-bottom: 10px;
}

.product-add-page form button {
  padding: 8px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.product-add-page form button:hover {
  background-color: #0056b3;
}
.image-preview {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}

.product-add-page {
  padding: 20px;
}

.product-add-page h1 {
  margin-bottom: 20px;
}


/* Variables */
:root {
  --color-black: #776fa2;
  --color-white: #fff;
  --size: 170px; /* (Fully responsive) */
}

/* Cat */
.cat {
  position: relative;
  height: var(--size);
  width: calc(var(--size) * 1.13);
}

/* Ears */
.ear {
  position: absolute;
  top: -30%;
  height: 60%;
  width: 25%;
  background: var(--color-white);
}

.ear::before,
.ear::after {
  content: '';
  position: absolute;
  bottom: 24%;
  height: 10%;
  width: 5%;
  border-radius: 50%;
  background: var(--color-black);
}

.ear::after {
  transform-origin: 50% 100%;
}

.ear--left {
  left: -7%;
  border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(-15deg);
}

.ear--right {
  right: -7%;
  border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(15deg);
}

/* Face */
.face {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--color-black);
  border-radius: 50%;
}

/* Eyes */
.eye {
  position: absolute;
  top: 35%;
  height: 30%;
  width: 31%;
  background: var(--color-white);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.eye::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-radius: 0 0 50% 50% / 0 0 40% 40%;
  background: var(--color-black);
  animation: blink 4s infinite ease-in;
}

@keyframes blink {
  0%, 90% { height: 0; }
  92.5%, 97.5% { height: 100%; }
}

.eye::before {
  content: '';
  position: absolute;
  top: 60%;
  height: 10%;
  width: 15%;
  background: var(--color-white);
  border-radius: 50%;
}

.eye--left {
  left: 0;
}

.eye--left::before {
  right: -5%;
}

.eye--right {
  right: 0;
}

.eye--right::before {
  left: -5%;
}

/* Pupils */
.eye-pupil {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 20%;
  background: var(--color-black);
  border-radius: 50%;
  animation: look-around 4s infinite;
}

@keyframes look-around {
  0%, 100% { transform: translate(0) }
  5%, 10%, 15%, 20% { transform: translate(50%, -25%) }
  25% { transform: translate(0, 0) }
}

.eye--left .eye-pupil {
  right: 30%;
}

.eye--right .eye-pupil {
  left: 30%;
}

.eye-pupil::after {
  content: '';
  position: absolute;
  top: 30%;
  right: -5%;
  height: 20%;
  width: 35%;
  border-radius: 50%;
  background: var(--color-white);
}

/* Muzzle */
.muzzle {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 6%;
  width: 10%;
  background: var(--color-white);
  transform: translateX(-50%);
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}


.animie {
  height: 100%;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-black);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
